@charset "UFT8";

*{
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
html, body {
    height: 100vh;
    width: 100vw;
    background-color: black;
}

body {
    background: url('../imagens/fundo-madeira.jpg')
    no-repeat top center;
    background-size: cover;
    background-attachment: fixed;
    
}

main {
    height: 100vh;
    position: relative;

}
section#telefone{
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-30%, -50%);
    border-radius: 10px;


    height: 614px;
    width: 311px;
    background: url('../imagens/frame-iphone.png') no-repeat;
    
    padding: 100px;
}
iframe#tela {
    position: relative;
    top: -20px;
    left: -78px;
    width: 269px;
    height: 472px;
    
}
section#redes-sociais img{
    width: 50px;
    margin: 10px;
    border-radius: 50%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.400);
    box-sizing: border-box;
}
section#redes-sociais img:hover {
    border: 2px solid rgba(255, 255, 255, 0.826);
    transform: translate(-1px, -1px);
    transition-duration: 1s;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.44);
}